.navbar-container {
  background: #f0f5ff;
  border-bottom: 1px solid #d6e4ff;
}

.custom-navbar {
  background: #f0f5ff;
  border-bottom: none;
  line-height: 64px;

  &.ant-menu-horizontal {
    border-bottom: none;
  }

  .ant-menu-item {
    color: #595959;
    font-weight: 500;
    font-size: 16px;

    &.ant-menu-item-selected {
      color: #1890ff;
      background: transparent;

      &::after {
        border-bottom-color: #1890ff;
      }

      .nav-icon {
        color: #1890ff;
      }
    }
  }

  .nav-icon {
    width: 18px;
    height: 18px;
    margin-right: 8px;
    vertical-align: middle;
    color: #595959;
  }
}
